* {
  margin: 0;
  box-sizing: border-box;
}

.frame {
  display: flex;
  height: 100vh;
  width: 100%;
}

.blueframe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: #0070AF;
}

.whiteframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--white, #FFF);
}

.inframe {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 25px;
}

.inframe input{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.alert{
  font-size: 15px;
  color: crimson;
}